.find-game
  = label_tag 'min_velocity'
  = number_field_tag 'min_velocity', 1, in: 1..20
  = label_tag 'max_velocity'
  = number_field_tag 'max_velocity', 5, in: 1..20
  = button_tag 'start', class: 'start'
  = button_tag 'stop', class: 'stop'
  .message.hidden Waiting for competitor
  %h1.game-over-message.hidden GAME OVER

.game-field.hidden
  .paddle-1
  .ball
  .paddle-2

:javascript
  (function() {
    var restart = function() {
      var game = App.newGame({
        matchMakingElement: document.querySelector('.find-game'),
        gameElement: document.querySelector('.game-field')
      });
      game.setOnEndCallback(function() {
        setTimeout(restart, 0);
      });
    };
    restart();
  })();
